@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Mockups</h2>

<ul>
    <li><a asp-controller="Mockups" asp-action="Users">Список пользователей </a></li>
    <li><a asp-controller="Mockups" asp-action="Tasks">Задачи</a></li>
    <li><a asp-controller="Mockups" asp-action="Topics">Темы</a></li>
    <li><a asp-controller="Mockups" asp-action="CreateTask">Создать задачу</a></li>
    <li><a asp-controller="Mockups" asp-action="TaskDetail">Просмотр задачи</a></li>
    <li><a asp-controller="Mockups" asp-action="SendSolution">Отправить решение</a></li>
    <li><a asp-controller="Mockups" asp-action="Queue">Очередь постмодерации</a></li>
    <li><a asp-controller="Mockups" asp-action="PostmoderationDetails">Детали постмодерации</a></li>
</ul>